/* HEADER */
/*Logo header*/
header {
  border-bottom: 1px black solid;
  list-style-type: none;
  text-decoration: none;
  height: 150px;
  background-image: url(../img/background-header.webp);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
header::before {
  content: "";
  background-color: rgba(252, 249, 249, 0.425);
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
header a img {
  width: 250px;
  align-items: start;
  cursor: pointer;
}

nav ul {
  display: flex;
  list-style-type: none;
}
nav ul li {
  margin-right: 25px;
  flex: auto;
  font-size: 1.3rem;
  color: #7A471C;
}
nav ul li a {
  text-decoration: none;
  color: #7A471C;
  font-weight: bold;
}

/*EStilo al h1*/
h1 {
  text-align: center;
  font-size: 4rem;
  text-decoration: underline;
}

/*Estilo al h2*/
h2 {
  font-size: 2rem;
  text-decoration: underline;
  margin: 15px;
  text-align: center;
}

/*Estilo a los textos*/
.parrafoCentral {
  font-size: 1.3rem;
  margin: 15px;
  font-weight: 600;
  padding: 30px;
  text-align: justify, center;
}
.parrafoCentral strong a {
  color: #7A471C;
}

/*Estilo al body*/
body {
  min-height: 100vh;
  background-image: url(../img/background-onePiece1.png);
  height: auto;
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 0px;
}
body::before {
  content: "";
  background-color: rgba(252, 249, 249, 0.425);
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.nombreJinbe {
  padding-left: 40px;
}

/*Estilo h3*/
h4 {
  text-align: center;
  font-size: 2rem;
  margin: 15px;
}

/*SUCURSALES*/
.mapas {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 40px;
  margin: 30px;
}

/*Estilo a la tienda*/
.img-fluid {
  width: 250px;
  height: 200px;
  cursor: pointer;
  border-radius: 10px;
}

.tienda .img-fluid {
  object-fit: cover;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.55);
}
.tienda .img-fluid:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.tienda {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 40px;
}

.nakamas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 40px;
}
.nakamas .imgNakamas {
  width: 250px;
  height: 200px;
  cursor: pointer;
  border-radius: 10px;
}

/*FOOTER*/
footer .pieDePagina {
  color: rgb(0, 0, 0);
  border-top: 1px rgb(0, 0, 0) solid;
  bottom: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
  margin: 0%;
  margin-top: 20px;
}

/*Medias Queries*/
/*sucursales 1400px*/
@media (max-width: 1400px) {
  .mapas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mapas h3 {
    display: none;
  }
}

/*Media queries para la tienda*/
@media (max-width: 850px) {
  /*header 850px*/
  header {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.5rem;
    height: auto;
  }
  header img {
    display: none;
  }
  /*body 850px*/
  body::before {
    content: "";
    background-color: rgba(252, 249, 249, 0.021);
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  /*parrafocentral 850px*/
  .parrafoCentral {
    font-weight: 400;
  }
  /*Tienda 850px*/
  .tienda .img-fluid {
    width: 150px;
    height: 150px;
  }
  .tienda .img-fluid:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  .nakamas {
    grid-template-columns: 1fr 1fr;
  }
  .nakamas h3 {
    display: none;
  }
  .nakamas .imgNakamas {
    width: auto;
    height: auto;
  }
  .nombreJinbe {
    display: none;
  }
  /*sucursales 850px*/
  .mapas {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    align-items: center;
    margin: auto;
  }
  .mapas iframe {
    width: auto;
    height: auto;
  }
}
/*mweia queries 550px*/
@media (max-width: 550px) {
  html {
    height: 100%;
  }
  /*header 550px*/
  header {
    border-bottom: 0.5px black solid;
  }
  header nav ul {
    padding: 0%;
    flex-wrap: wrap;
  }
  header nav li {
    font-size: 1rem;
  }
  header nav li a {
    padding: 20px;
  }
  /*body 550px*/
  body {
    margin: 0px;
    min-height: 100%;
    height: auto;
  }
  body::before {
    content: "";
    background-color: rgba(252, 249, 249, 0);
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  /*titulos y parrafos 550px*/
  h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  h2 {
    font-size: 1.5rem;
    text-decoration: none;
    margin: 10px;
  }
  .parrafoCentral {
    text-align: justify;
    font-size: 0.9rem;
    margin: 10px;
  }
  /*tienda 550px*/
  .tienda {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  section img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  section h3 {
    display: none;
  }
  /*sucursales 550px*/
  .mapas {
    width: 50%;
    height: 50%;
  }
  .mapas iframe {
    width: auto;
    height: auto;
  }
  .nombreJinbe {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
