$color--anclas: #7A471C;

$color-footer: rgb(0, 0, 0);

$background-capa: rgba(252, 249, 249, 0.425);

$background-capa850px: rgba(252, 249, 249, 0.021);

$background-capa550px: rgba(252, 249, 249, 0);